<div class="row">
  <div class="col-md-3">
  <%= render 'side_bar' %>
  </div>
  <div class="col-md-9">
      <!--<%= yield %>-->
      <div class="panel panel-default">
        <div class="panel-body" id="full-stage">
          <h2 id="group-name"></h2>

          <div id="new-group-form" class="screen">
            <%= render "new_group_form" %>
          </div>

          <div id="show-group" class="screen">
            <%= render "show_group" %>
          </div>

          <div id="new-message-group" class="screen">
            <%= render "new_message_form" %>
          </div>

          <div id="index-message-group" class="screen">
            <%= render "show_message_page" %>
          </div>

          <div id="map">
            <div class="index screen">
              <%= render "map/index" %>
            </div>

          </div>


        </div>
      </div>


  </div>
</div>
