<!DOCTYPE html>
<html>
<head>
  <title>UserAuthTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

</head>
<body>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <% if current_user %>
          <%= link_to "Sign Out", signout_path, class:"btn btn-default navbar-btn navbar-right" %>
          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p>
        <% else %>
          <%= link_to "Sign Up", signup_path, class:"btn btn-default navbar-btn navbar-right" %>
          <%= link_to "Sign In", signin_path, class:"btn btn-default navbar-btn navbar-right" %>
        <% end %>
      <div class="navbar-header">
        <a class="navbar-brand" href="/">GamingLedger</a>
      </div>
    </div>
  </nav>

  <%= yield %>


</div>

</body>
</html>
